<a href="https://colab.research.google.com/github/SriNarahariCN/poker/blob/main/pokerdataset_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
df=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/poker-hand-testing.csv")
df

,Suit of Card 1,Rank of Card 1,Suit of Card 2,Rank of Card 2,Suit of Card 3,Rank of Card 3,Suit of Card 4,Rank of Card 4,Suit of Card 5,Rank of Card 5,Poker Hand
0,1,1,1,13,2,4,2,3,1,12,0
1,3,12,3,2,3,11,4,5,2,5,1
2,1,9,4,6,1,4,3,2,3,9,1
3,1,4,3,13,2,13,2,1,3,6,1
4,3,10,2,7,1,2,2,11,4,9,0
...,...,...,...,...,...,...,...,...,...,...,...
999995,3,1,1,12,2,9,4,9,2,6,1
999996,3,3,4,5,2,7,1,4,4,3,1
999997,1,11,4,7,3,9,1,13,2,7,1
999998,3,11,1,8,1,1,3,13,2,8,1
999999,2,5,2,9,4,9,2,3,3,3,2

In [21]:
df.isnull().sum()

Suit of Card 1    0
Rank of Card 1    0
Suit of Card 2    0
Rank of Card 2    0
Suit of Card 3    0
Rank of Card 3    0
Suit of Card 4    0
Rank of Card 4    0
Suit of Card 5    0
Rank of Card 5    0
Poker Hand        0
dtype: int64

In [22]:
df.duplicated().sum()

2128

In [23]:
df.drop_duplicates(inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997872 entries, 0 to 999999
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Suit of Card 1  997872 non-null  int64
 1   Rank of Card 1  997872 non-null  int64
 2   Suit of Card 2  997872 non-null  int64
 3   Rank of Card 2  997872 non-null  int64
 4   Suit of Card 3  997872 non-null  int64
 5   Rank of Card 3  997872 non-null  int64
 6   Suit of Card 4  997872 non-null  int64
 7   Rank of Card 4  997872 non-null  int64
 8   Suit of Card 5  997872 non-null  int64
 9   Rank of Card 5  997872 non-null  int64
 10  Poker Hand      997872 non-null  int64
dtypes: int64(11)
memory usage: 91.4 MB

In [25]:
X=df.iloc[:,0:-1]
X

,Suit of Card 1,Rank of Card 1,Suit of Card 2,Rank of Card 2,Suit of Card 3,Rank of Card 3,Suit of Card 4,Rank of Card 4,Suit of Card 5,Rank of Card 5
0,1,1,1,13,2,4,2,3,1,12
1,3,12,3,2,3,11,4,5,2,5
2,1,9,4,6,1,4,3,2,3,9
3,1,4,3,13,2,13,2,1,3,6
4,3,10,2,7,1,2,2,11,4,9
...,...,...,...,...,...,...,...,...,...,...
999995,3,1,1,12,2,9,4,9,2,6
999996,3,3,4,5,2,7,1,4,4,3
999997,1,11,4,7,3,9,1,13,2,7
999998,3,11,1,8,1,1,3,13,2,8
999999,2,5,2,9,4,9,2,3,3,3

In [26]:
X=df.iloc[:,0:-1].copy()
Y=df['Poker Hand']

In [27]:
Y

0         0
1         1
2         1
3         1
4         0
         ..
999995    1
999996    1
999997    1
999998    1
999999    2
Name: Poker Hand, Length: 997872, dtype: int64

In [28]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
enc.fit(X)
dum = enc.transform(X)

In [29]:
X=pd.DataFrame(dum)
X.shape

(997872, 85)

In [30]:
from sklearn import preprocessing
sc = preprocessing.MinMaxScaler()
#X = sc.fit_transform(X)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=.2)

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.6914393085306276

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100,random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))