<a href="https://colab.research.google.com/github/SriNarahariCN/poker/blob/main/pokerdataset_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df=pd.read_csv("/content/poker-hand-testing.csv")
df

,Suit of Card 1,Rank of Card 1,Suit of Card 2,Rank of Card 2,Suit of Card 3,Rank of Card 3,Suit of Card 4,Rank of Card 4,Suit of Card 5,Rank of Card 5,Poker Hand
0,1,1,1.0,13.0,2.0,4.0,2.0,3.0,1.0,12.0,0.0
1,3,12,3.0,2.0,3.0,11.0,4.0,5.0,2.0,5.0,1.0
2,1,9,4.0,6.0,1.0,4.0,3.0,2.0,3.0,9.0,1.0
3,1,4,3.0,13.0,2.0,13.0,2.0,1.0,3.0,6.0,1.0
4,3,10,2.0,7.0,1.0,2.0,2.0,11.0,4.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
384576,3,3,3.0,7.0,3.0,4.0,4.0,5.0,4.0,13.0,0.0
384577,2,4,4.0,7.0,2.0,10.0,1.0,8.0,1.0,5.0,0.0
384578,2,11,3.0,9.0,2.0,5.0,2.0,3.0,4.0,5.0,1.0
384579,3,11,3.0,3.0,1.0,2.0,3.0,8.0,4.0,10.0,0.0
384580,1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.isnull().sum()

Suit of Card 1    0
Rank of Card 1    0
Suit of Card 2    1
Rank of Card 2    1
Suit of Card 3    1
Rank of Card 3    1
Suit of Card 4    1
Rank of Card 4    1
Suit of Card 5    1
Rank of Card 5    1
Poker Hand        1
dtype: int64

In [5]:
df.duplicated().sum()

289

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384292 entries, 0 to 384580
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Suit of Card 1  384292 non-null  int64
 1   Rank of Card 1  384292 non-null  int64
 2   Suit of Card 2  384291 non-null  float64
 3   Rank of Card 2  384291 non-null  float64
 4   Suit of Card 3  384291 non-null  float64
 5   Rank of Card 3  384291 non-null  float64
 6   Suit of Card 4  384291 non-null  float64
 7   Rank of Card 4  384291 non-null  float64
 8   Suit of Card 5  384291 non-null  float64
 9   Rank of Card 5  384291 non-null  float64
 10  Poker Hand      384291 non-null  float64
dtypes: float64(9), int64(2)
memory usage: 35.2 MB

In [8]:
X=df.iloc[:,0:-1]
X

,Suit of Card 1,Rank of Card 1,Suit of Card 2,Rank of Card 2,Suit of Card 3,Rank of Card 3,Suit of Card 4,Rank of Card 4,Suit of Card 5,Rank of Card 5
0,1,1,1.0,13.0,2.0,4.0,2.0,3.0,1.0,12.0
1,3,12,3.0,2.0,3.0,11.0,4.0,5.0,2.0,5.0
2,1,9,4.0,6.0,1.0,4.0,3.0,2.0,3.0,9.0
3,1,4,3.0,13.0,2.0,13.0,2.0,1.0,3.0,6.0
4,3,10,2.0,7.0,1.0,2.0,2.0,11.0,4.0,9.0
...,...,...,...,...,...,...,...,...,...,...
384576,3,3,3.0,7.0,3.0,4.0,4.0,5.0,4.0,13.0
384577,2,4,4.0,7.0,2.0,10.0,1.0,8.0,1.0,5.0
384578,2,11,3.0,9.0,2.0,5.0,2.0,3.0,4.0,5.0
384579,3,11,3.0,3.0,1.0,2.0,3.0,8.0,4.0,10.0
384580,1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
X=df.iloc[:,0:-1].copy()
Y=df['Poker Hand']

In [10]:
Y

0         0.0
1         1.0
2         1.0
3         1.0
4         0.0
         ...
384576    0.0
384577    0.0
384578    1.0
384579    0.0
384580    NaN
Name: Poker Hand, Length: 384292, dtype: float64

In [11]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)
enc.fit(X)
dum = enc.transform(X)

In [12]:
X=pd.DataFrame(dum)
X.shape

(384292, 93)

In [13]:
from sklearn import preprocessing
sc = preprocessing.MinMaxScaler()
#X = sc.fit_transform(X)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=.2)

In [15]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

ValueError: ignored

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100,random_state=0)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
print(clf.score(x_test,y_test))

0.9194388074658649